.banner-container {
    padding-top: 100px; /* Espaciado interno para el contenido */
    align-content: center;
    justify-items: center;
    background-color: lightslategrey;
    color: white;
    height: 200px;
}
